
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;900&display=swap'); */

@font-face {
  font-family: "thabit";
  src: url("../public/assets/fonts/Thabit.ttf");
}

@layer base {
  html {
    padding: 0;
    margin: 0;
    font-family: 'thabit';
    position: relative;
    cursor: none;
  }
  body {
    @apply bg-white-bg dark:bg-black-bg;
  }
  
  h1,h2,h3 {
    font-family: 'Darker Grotesque', sans-serif;
    @apply text-black dark:text-white;
  }
  h1 {
    font-size: 7.75rem;
    line-height: 1.2;
    /* font-size: 5rem; */
  }
  h2 {
    font-size: 4.25rem;
    /* font-size: 4.75rem; */
    line-height: 70.06px;
    font-weight: 700;
  }
  h3 {
    font-size: 2.25rem;
    letter-spacing: 0;
    line-height: 47.5px;
    white-space: nowrap;
  }
  h3.process-card__title{
    font-size: 2.25rem;
  }
  h4 {
    font-size: 2.25rem;
    /* font-weight: 700; */
    /* letter-spacing: 0; */
    line-height: 47.5px;
    /* white-space: nowrap; */
  }
  p {
    @apply font-bold dark:font-normal;
    font-weight: 700;
  }
  /* img {
    @apply dark:bg-white-dark; 
  } */
}

@layer components {
  .project-card {
    /* background: red; */
    /* padding-inline: 3.5rem;
    padding-block: 3.2rem; */
    /* border: 1px solid bg-white; */
    /* overflow: scroll; */
    
    /* @apply text-black-light dark:text-white-dark */
    @apply text-black dark:text-white border-2  border-gray
    
  }
  .project-card__header span
   {
    @apply text-black-light dark:text-white
  }
  .project-card-btn {
    font-family: 'Darker Grotesque', sans-serif;

  }
  .project-card.open {
    
    height: 100vh;
  /* background: red; */
    overflow: scroll;
    @apply text-black dark:text-white border-none bg-white dark:bg-black-lighten

  }
    .project-image-open img
   {
    /* height: 100vh; */
    /* height: 100vh; */
    overflow: scroll;
    /* height: "auto"; */
  } 
  svg path:not(.circles-svg path,.arrow-svg path ){
    @apply fill-black dark:fill-white
  }
  svg.footer-svg path{
    @apply fill-white
  }
  button {
    border: 1px solid;
    line-height: 1.6;
  }
  .btn-primary {
    padding-block: 0.625rem;
    padding-inline: 1.15rem;
  }
  .btn-rounded {
    border: 1px solid;
    border-radius: 100%;
    padding: 1.75rem;
  }
  button.large {
    padding-block: 1rem;
    padding-inline: 2rem;
  }

  /* .project-card:hover {
    box-shadow: 0px 0px 4px #000;
  } */
  .work_process-list li:nth-last-child(1) {
    border-bottom: 0 !important;
    border-bottom-width: 0 !important;
  } 
  .proccess-card {
    user-select: none;
  }

  /* .proccess-card:hover {
    box-shadow: 0px 0px 4px #000;
  } */
  form {
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
  }
  form .field {
    padding-bottom: 4rem;
  }
  form input,
  form textarea {
    background: none;
    border-bottom: 1px solid;
  }
  form input:focus,
  form textarea:focus {
    border: none;
    border-bottom: 1px dashed;
    outline: none;
  }
  form input:focus ~ label{
 color: red;
  }

  /* HAMBURGER MENU */
  .menu-hamburger {
    position: relative;
    /* right: 1rem; */
    z-index: 100;
    width: 34px;
    display: block;
    cursor: pointer;
  }
  .menu-hamburger span{
    display: block;
    height: 2px;
    cursor: pointer;
    margin-top: 6px;
    transition: all .3s;  
  }
  .mostrar .bar-middle{
    transform: translate(-8px);
 }
 .mostrar .bar-top{
  transform: translate(8px);
}
.mostrar .bar-bottom{
  transform: translate(8px);
}


/* .hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  border: none;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}
.responsive-nav {
  transition: all .3s;
} */

/* List Box languages */
.list-box-lang li {
  padding-inline: 1.125rem;
  padding-block: 0.25rem;
  @apply shadow-custom;
}
.list-box-lang li:hover {
  @apply bg-white-bg;
  @apply text-black;
}

.drag-area {
  opacity: 0.2;
  /* background: red; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* width: 300px;
  height: 300px;
  border-radius: 30px;
  top: calc(50% - 150px);
  left: calc(50% - 150px); */
}

.draggable {
  /* background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px; */
  position: absolute ;
   /* top: calc(50% - 150px / 2); */
  /* left: calc(50% - 150px / 2); */
}

/* .project-image-container img{
  border-radius: 50%;
} */
.my-cursor {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    /* background-color: rgb(238, 130, 31); */
    /* background-color: #317BCD; */
    @apply border-black dark:border-white !important;
    /* border: 2px solid #222222 !important; */
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    pointer-events: none;
    z-index: 9999;
    /* transition: none; */
    /* transition-property: background-color, opacity, transform, mix-blend-mode; */
}
/* .my-cursor > span{
text-shadow: 2x 2px 0 black;
} */

.custom-indicator {
  width: 30px;
  height: 30px;
  /* border: 2px solid #f000; */
      /* background: #317BCD; */
  border-radius: 50%;

}
.hover-project-cursor {
  /* width: 200px;
  height: 200px; */
  /* border: 2px solid #f000; */
      /* background: #317BCD; */
    /* @apply border-4 border-black-dark shadow-custom bg-yellow; */
  border-radius: 50%;

}
}

@layer utilities {
  .masthead-title {
    font-size: 11.5rem;
    /* font-weight: 700; */
    font-weight: 600;
    /* @apply text-secondary; */
  }
  .masthead-title span {
    /* font-weight: 800; */
  }
  /* .masthead-title__span {
    transform: rotate(25deg);
    display: inline-block;
    margin-left: 1rem;
    right: -6rem;
  } */
  /* a:hover,
  button:hover {
    cursor: none;
  } */
.eclipse-path {
  z-index: -1;
}
  .about-img-wrapper {
      overflow: hidden;
  }
  .sepia {
    /* filter: grayscale(100%) sepia(20%) brightness(80%); */
    filter: grayscale(100%) brightness(80%);
    /* transition: scale 3s ease-in-out; */
  }
  .masked {
    /* clip-path: circle(25% at 50% 50%); */
    transition: opacity 0.3s ease-in-out;
                /* scale 3s ease-in-out; */
    opacity: 0;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../public/assets/img/Noise.png");
    /* mix-blend-mode: overlay; */
    mix-blend-mode: soft-light;
    z-index: -1;
  }
 .mix-darken {
  mix-blend-mode: darken;
 }
 
.overlay {
  z-index: 1;
  position: fixed;
  /* background: rgba(0, 0, 0, 0.8); */
  /* background: rgb(255 251 251 / 80%); */
  background-image:  url("../public/assets/img/Noise.png");
  /* background: #000; */
  background: #222;
  /* opacity: 0.4 !important; */

  /* background-image: linear-gradient(to bottom, #000000, #090909, #111111, #161616, #1b1b1b, #212028, #272636, #2c2b44, #30335f, #2f3b7c, #26449a, #004dba); */
  /* mix-blend-mode: overlay; */
  /* @apply bg-white-bg dark:bg-black-bg; */
  /* overflow: scroll; */

  /* filter: blur(2px); */
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* max-width: 990px; */
}
.layer-blue {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url("../public/assets/img/Noise.png"); */
  /* mix-blend-mode: overlay; */
  /* mix-blend-mode: soft-light; */
  z-index: -1;
  /* filter: blur(31px); */
}
.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  padding: 40px 0;
  /* background: url("../public/assets/img/Noise.png"); */

}
/* loading form btn */
.lds-ellipsis {
  display: flex;
  align-items: center;
  position: relative;
  width: 80px;
  height: 100%;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  /* top: 33px; */
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
}

