@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "thabit";
  src: url("../public/assets/fonts/Thabit.ttf");
}

@layer base {
  html {
    padding: 0;
    margin: 0;
    font-family: 'thabit';
    position: relative;
  }
  body {
    @apply bg-white-bg dark:bg-black-bg;

  }
  h1,h2,h3 {
    font-family: 'Darker Grotesque', sans-serif;
    @apply text-black dark:text-white;
    font-weight: 700;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 70.06px;
  }
  h3 {
    font-size: 2.125rem;
    letter-spacing: 0;
    line-height: 42.5px;
    white-space: nowrap;
  }
  p {
    @apply font-bold dark:font-normal;
    font-weight: 700;
  }
  /* img {
    @apply dark:bg-white-dark; 
  } */
}

@layer components {
  .project-card__header span {
    @apply text-black-light dark:text-white-dark
  }
  svg path:not(.circles-svg path){
    @apply fill-black dark:fill-white
  }
  svg.footer-svg path{
    @apply fill-white
  }
  button {
    padding-block: 0.625rem;
    padding-inline: 1.15rem;
    border: 1px solid;
    line-height: 1.6;
  }
  button.large {
    padding-block: 1rem;
    padding-inline: 2rem;
  }

  .project-card:hover {
    box-shadow: 0px 0px 4px #000;
  }
  .proccess-card {
    user-select: none;
  }
  .proccess-card:hover {
    box-shadow: 0px 0px 4px #000;
  }
  form {
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
  }
  form .field {
    padding-bottom: 4rem;
  }
  form input,
  form textarea {
    background: none;
    border-bottom: 1px solid;
  }
  form input:focus,
  form textarea:focus {
    border: none;
    border-bottom: 1px dashed;
    outline: none;
  }
  form input:focus ~ label{
 color: red;
  }

  /* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  border: none;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}
.responsive-nav {
  transition: all .3s;
}

/* List Box languages */
.list-box-lang li {
  padding-inline: 1.125rem;
  padding-block: 0.25rem;
  @apply shadow-custom;
}
.list-box-lang li:hover {
  @apply bg-white-bg;
  @apply text-black;
}
}
@layer utilities {
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../public/assets/img/Noise.png");
    /* mix-blend-mode: overlay; */
    mix-blend-mode: soft-light;
    z-index: -1;
  }
 .mix-darken {
  mix-blend-mode: darken;
 }
}

