@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "thabit";
  src: url("../public/assets/fonts/Thabit.ttf");
}

@layer base {
  html {
    padding: 0;
    margin: 0;
    font-family: 'thabit';
    position: relative;
    cursor: none;
  }
  body {
    @apply bg-white-bg dark:bg-black-bg;

  }
  h1,h2,h3 {
    font-family: 'Darker Grotesque', sans-serif;
    @apply text-black dark:text-white;
    font-weight: 700;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 70.06px;
  }
  h3 {
    font-size: 2.125rem;
    letter-spacing: 0;
    line-height: 42.5px;
    white-space: nowrap;
  }
  p {
    @apply font-bold dark:font-normal;
    font-weight: 700;
  }
  /* img {
    @apply dark:bg-white-dark; 
  } */
}

@layer components {
  .project-card__header span {
    @apply text-black-light dark:text-white-dark
  }
  svg path:not(.circles-svg path){
    @apply fill-black dark:fill-white
  }
  svg.footer-svg path{
    @apply fill-white
  }
  button {
    padding-block: 0.625rem;
    padding-inline: 1.15rem;
    border: 1px solid;
    line-height: 1.6;
  }
  button.large {
    padding-block: 1rem;
    padding-inline: 2rem;
  }

  .project-card:hover {
    box-shadow: 0px 0px 4px #000;
  }
  .proccess-card {
    user-select: none;
  }
  .proccess-card:hover {
    box-shadow: 0px 0px 4px #000;
  }
  form {
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
  }
  form .field {
    padding-bottom: 4rem;
  }
  form input,
  form textarea {
    background: none;
    border-bottom: 1px solid;
  }
  form input:focus,
  form textarea:focus {
    border: none;
    border-bottom: 1px dashed;
    outline: none;
  }
  form input:focus ~ label{
 color: red;
  }

  /* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  border: none;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}
.responsive-nav {
  transition: all .3s;
}

/* List Box languages */
.list-box-lang li {
  padding-inline: 1.125rem;
  padding-block: 0.25rem;
  @apply shadow-custom;
}
.list-box-lang li:hover {
  @apply bg-white-bg;
  @apply text-black;
}

.drag-area {
  opacity: 0.2;
  /* background: red; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* width: 300px;
  height: 300px;
  border-radius: 30px;
  top: calc(50% - 150px);
  left: calc(50% - 150px); */
}

.draggable {
  /* background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px; */
  position: absolute ;
   /* top: calc(50% - 150px / 2); */
  /* left: calc(50% - 150px / 2); */
}

.project-image-container {

}
.my-cursor {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    /* background-color: rgb(238, 130, 31); */
    /* background-color: #317BCD; */
    /* @apply bg-blue; */
    border: 2px solid #fefefe;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    pointer-events: none;
    z-index: 9999;
    transition: none;
    /* transition-property: background-color, opacity, transform, mix-blend-mode; */
}

}

@layer utilities {
  /* a:hover,
  button:hover {
    cursor: none;
  } */

  .about-img-wrapper {
      overflow: hidden;
    
  }
  .sepia {
    /* filter: grayscale(100%) sepia(20%) brightness(80%); */
    filter: grayscale(100%) brightness(80%);
    /* transition: scale 3s ease-in-out; */
  }
  .masked {
    clip-path: circle(25% at 50% 50%);
    transition: opacity 0.3s ease-in-out;
                /* scale 3s ease-in-out; */
    opacity: 0;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../public/assets/img/Noise.png");
    /* mix-blend-mode: overlay; */
    mix-blend-mode: soft-light;
    z-index: -1;
  }
 .mix-darken {
  mix-blend-mode: darken;
 }

/* loading form btn */
.lds-ellipsis {
  display: flex;
  align-items: center;
  position: relative;
  width: 80px;
  height: 100%;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  /* top: 33px; */
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
}

